body {
  color: var(--color-1);
  font: var(--font--size) / var(--line--height) var(--font--family);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
