.basket {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
  height: 60px;
  padding: 1rem;
  background-color: #666;
  color: #fff;
  cursor: pointer;

  font-size: 12px;
  font-weight: 100;
}

.basket--open .basket__wrap {
  display: block;
}

.basket__title {
  color: inherit;
}

.basket__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* fix event delegation */
.basket__header > * {
  pointer-events: none;
}

.basket__wrap {
  display: none;
}

.basket__content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: inherit;
}

.basket__footer {
  padding: 1rem 1rem 1rem 0;
  text-align: right;
  text-transform: uppercase;
}

.basket__list {
  margin: 0;
  padding: 0;
}

.basket__item {
  list-style: none;
}
